.login__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    
    &_col1 {
        background-image: url("../../public/piplet-moliere.jpg");
        background-position: center;
        background-size: cover;
    }

    &_col2 {
        margin: auto auto;
        max-width: 30rem;

        &_para {
            padding-top: .5rem;
            font-size: clamp(16px, 5vw, 20px);
        }
    }

    &_logo {
<<<<<<< HEAD:Structure-Piplet/frontend/src/sass/_login.scss
        padding-top: 1rem;
        width: clamp(8rem, 5vw, 509px);
=======
        font-size: clamp(1.625rem, 5vw, 209px);
>>>>>>> e180a91ffbf64e2f819d3efff3709c95f484c0ee:frontend/src/sass/_login.scss
    }

    &_btn {
        border-radius: 0;
    }
}

.div__svg {
    position: absolute;
    top: .35rem;
    right: 1rem;
    cursor: pointer;
}