@import "variables_overrides.scss";
@import "_utilities.scss";

@import "../node_modules/bootstrap/scss/bootstrap.scss";


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

#root {
    height: 10rem;
}